@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
    box-sizing: border-box;
    font-family: sans-serif;
    /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100% */
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active, a:hover {
    outline-width: 0
}

.Play {
    max-width: 1500px;
    font-family: "Noto Sans JP", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif
}

.Play html, .Play body, .Play div, .Play span, .Play applet, .Play object, .Play iframe,
.Play h1, .Play h2, .Play h3, .Play h4, .Play h5, .Play h6, .Play p, .Play blockquote, .Play pre,
.Play a, .Play abbr, .Play acronym, .Play address, .Play big, .Play cite, .Play code, .Play del,
.Play dfn, .Play em, .Play img, .Play ins, .Play kbd, .Play q, .Play s, .Play samp, .Play small,
.Play strike, .Play strong, .Play sub, .Play sup, .Play tt, .Play var, .Play b, .Play u, .Play i,
.Play center, .Play dl, .Play dt, .Play dd, .Play ol, .Play ul, .Play li,
.Play fieldset,
.Play form,
.Play label,
.Play legend,
.Play table,
.Play caption,
.Play tbody,
.Play tfoot,
.Play thead,
.Play tr,
.Play th,
.Play td,
.Play article,
.Play aside,
.Play canvas,
.Play details,
.Play embed,
.Play figure,
.Play figcaption,
.Play footer,
.Play header,
.Play hgroup,
.Play menu,
.Play nav,
.Play output,
.Play ruby,
.Play section,
.Play summary,
.Play time,
.Play mark,
.Play audio,
.Play video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.Play .mobile_space {
    background-color: #E88326;
    width:100%;
    height: 45px;
}

.Play .background {
    position: relative;
    height: fit-content;
    margin: 0 auto;
    background-color: #E88326;
    overflow: hidden;
}

.Play .background .top_container {
    display: block;
    margin: auto;
    margin-left: 7.5%;
}

@media screen and (max-width: 480px) {
    .Play .background .top_container {
        margin-left: 0;
    }
}

.Play .background .top_container .title{
    height: 140px;
    line-height: 140px;
    font-family: "Noto Sans JP";
    font-size: 36px;
    font-weight: 600;
    margin-left: -4px;
    color: white;
}

@media screen and (max-width: 480px) {
    .Play .background .top_container .title{
        font-size: 26px;
        line-height: 100px;
        height: 100px;
        margin-left: 0;
        text-align: center;
    }
}

.Play .background .scene-1 {
    width: 85%;
    margin: 0px auto 100px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 {
        margin-bottom: 40px;
    }
}

.Play .background .scene-1 .explain {
    height: 30px;
    line-height: 30px;
    font-family: "Noto Sans JP";
    font-size: 24px;
    font-weight: 500;
    color: white;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .explain {
        line-height: 20px;
        height: 20px;
        font-size: 15px;
        text-align: center;
    }
}

.Play .background .scene-1 .expl_frame {
    overflow: hidden;
    margin: 10px auto;
    margin-right: 0;
    background-color: white;
}

.Play .background .scene-1 .expl_frame .e1{
    font-family: "Noto Sans JP";
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
    text-align: center;
    margin: 30px auto 30px;
    width: 85%;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-1 .expl_frame .e1{
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .expl_frame .e1{
        font-size: 13px;
        line-height: 20px;
        margin-top: 20px;
        width: 90%;
    }
}

.Play .background .scene-1 .expl_frame .q{
    font-family: "Noto Sans JP";
    line-height: 40px;
    font-size: 22px;
    font-weight: 500;
    color: #4A4A4A;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Play .background .scene-1 .expl_frame .q br{
    display: none;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-1 .expl_frame .q{
        line-height: 40px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .expl_frame .q{
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .expl_frame .q br{
        display: block;
        margin-right: 30px;
    }
}

.Play .background .scene-1 .expl_frame .q span{
    font-weight: 600;
    margin-left: 3%;
    margin-right: 3%;
}

.Play .background .scene-1 .expl_frame .img_container{
    display: flex;
    margin: 20px auto 20px;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-1 .expl_frame .img_container{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .expl_frame .img_container{
        width: 75%;
    }
}

.Play .background .scene-1 .expl_frame .img_container img{
    width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-1 .expl_frame .img_container img{
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .expl_frame .img_container img{
        width: 100px;
    }
}

.Play .background .scene-1 .expl_frame .img_container img:last-child{
    margin-right: 0;
}

.Play .background .scene-1 .expl_frame .comment{
    font-family: "Noto Sans JP";
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    color: #4A4A4A;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-1 .expl_frame .comment{
        font-size: 17px;
        line-height: 23px;
    }
}

.Play .background .scene-1 .expl_frame .comment span{
    color: #E88326;
}

.Play .background .scene-1 .button_ul{
    list-style: none;
    display: flex;
    width: 80%;
    margin: 30px 10% 20px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .button_ul{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.Play .background .scene-1 .button_ul .button{
    position: relative;
    flex: 1;
    font-family: "Noto Sans JP";
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #4A4A4A;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    margin-right: 30%;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-1 .button_ul .button{
        margin-right: 10%;
    }
}

.Play .background .scene-1 .button_ul .button:last-child{
    margin-right: 0;
}

.Play .background .scene-2 {
    width: 85%;
    margin: 0px auto 100px;
    display: none;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 {
        margin-bottom: 40px;
    }
}

.Play .background .scene-2 .explain {
    height: 30px;
    line-height: 30px;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-weight: 500;
    color: white;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .explain {
        line-height: 20px;
        height: fit-content;
        font-size: 15px;
        text-align: center;
    }
}

.Play .background .scene-2 .q_frame {
    overflow: hidden;
    margin: 10px auto;
    background-color: white;
    display: none;
}

.Play .background .scene-2 .q_frame .q{
    font-family: "Noto Sans JP";
    line-height: 40px;
    font-size: 25px;
    font-weight: 400;
    color: #4A4A4A;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .q{
        font-size: 22px;
        line-height: 30px;
    }
}

.Play .background .scene-2 .q_frame .q span{
    font-weight: 700;
    margin-left: 3%;
    margin-right: 3%;
}

.Play .background .scene-2 .q_frame .q br{
    display: none;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .q br{
        display: inline;
    }
}

.Play .background .scene-2 .q_frame .img_container{
    display: flex;
    margin: 20px auto 20px;
    width: 60%;
}


@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .img_container{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .img_container{
        width: 75%;
    }
}

.Play .background .scene-2 .q_frame .img_container img{
    width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .img_container img{
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .img_container img{
        width: 100px;
        height: 130px;
    }
}

.Play .background .scene-2 .q_frame .img_container img:last-child{
    margin-right: 0;
}

.Play .background .scene-2 .q_frame .response_container{
    display: flex;
    margin: 20px auto 20px;
}

.Play .background .scene-2 .q_frame .response_container p{
    display: block;
    font-family: "Noto Sans JP";
    line-height: 40px;
    font-size: 23px;
    font-weight: 500;
    color: #4A4A4A;
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .response_container p{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .response_container p{
        line-height: 40px;
        font-size: 17px;
    }
}

.Play .background .scene-2 .q_frame .response_container p:last-child{
    margin-left: 0;
    margin-right: auto;
}

.Play .background .scene-2 .q_frame .response_container input{
    display: block;
    height: 40px;
    width: 200px;
    margin: 0 10px 0;
    font-family: "Noto Sans JP";
    line-height: 40px;
    font-size: 25px;
    font-weight: 700;
    color: #4A4A4A;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .response_container input{
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .response_container input{
        width: 100px;
    }
}

.Play .background .scene-2 .answer_button{
    font-family: "Noto Sans JP";
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #E88326;
    text-align: center;
    justify-content: center;
    width: 20%;
    border-radius: 7px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .answer_button{
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .answer_button{
        width: 35%;
    }
}

.Play .background .scene-2 .q_frame .answer_container{
    display: none;
    width: 70%;
    margin: 50px auto 50px;
    font-family: "Noto Sans JP";
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 7px;
    border: solid #4A4A4A55 2px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .answer_container{
        width: 85%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container{
        width: 90%;
    }
}

.Play .background .scene-2 .q_frame .answer_container .answer{
    font-family: "Noto Sans JP";
    margin-top: 20px;
    line-height: 60px;
    font-weight: 600;
    color: #4A4A4A;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .answer{
        line-height: 30px;
    }
}

.Play .background .scene-2 .q_frame .answer_container .answer .seikai{
    font-size: 25px;
    color: #E88326;
    margin-right: 20%;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .answer .seikai{
        font-size: 20px;
        margin-right: 10%;
    }
}

.Play .background .scene-2 .q_frame .answer_container .answer span{
    font-size: 30px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .answer span{
        font-size: 24px;
    }
}

.Play .background .scene-2 .q_frame .answer_container .answer .tanni{
    font-size: 25px;
    margin-left: 5%;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .answer .tanni{
        font-size: 20px;
    }
}

.Play .background .scene-2 .q_frame .answer_container .comment{
    font-family: "Noto Sans JP";
    width: 95%;
    margin: 20px auto 0;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-2 .q_frame .answer_container .comment{
        line-height: 25px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .comment{
        line-height: 18px;
        font-size: 12px;
    }
}

.Play .background .scene-2 .q_frame .answer_container .score{
    font-family: "Noto Sans JP";
    margin-top: 20px;
    line-height: 60px;
    font-weight: 600;
    color: #4A4A4A;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .score{
        line-height: 40px;
    }
}

.Play .background .scene-2 .q_frame .answer_container .score .sukoa{
    font-size: 25px;
    color: #E88326;
    margin-right: 10%;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .score .sukoa{
        font-size: 20px;
        margin-right: 10%;
    }
}

.Play .background .scene-2 .q_frame .answer_container .score span{
    font-size: 30px;
    margin-right: 2%;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .q_frame .answer_container .score span{
        font-size: 24px;
    }
}

.Play .background .scene-2 .button_ul{
    list-style: none;
    display: flex;
    width: 80%;
    margin: 30px 10% 20px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .button_ul{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.Play .background .scene-2 .button_ul .button{
    position: relative;
    flex: 1;
    font-family: "Noto Sans JP";
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #4A4A4A;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    margin-right: 30%;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-2 .button_ul .button{
        margin-right: 10%;
    }
}

.Play .background .scene-2 .button_ul .button:last-child{
    margin-right: 0;
}

.Play .background .scene-2 .error{
    display: none;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.Play .background .scene-result {
    width: 85%;
    margin: 0px auto 100px;
    display: none;
}

.Play .background .scene-result .explain {
    height: 80px;
    line-height: 80px;
    font-family: "Noto Sans JP";
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    color: white;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-result .explain {
        line-height: 60px;
        height: 60px;
        font-size: 50px;
    }
}

.Play .background .scene-result .result_frame {
    overflow: hidden;
    margin: 10px auto;
    background-color: white;
}

.Play .background .scene-result .result_frame .margin{
    height: 20px;
}

.Play .background .scene-result .result_frame .each{
    display: flex;
    font-family: "Noto Sans JP";
    margin: 20px auto 20px;
    line-height: 40px;
    font-weight: 600;
    color: #4A4A4A;
    width: 30%;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-result .result_frame .each{
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .result_frame .each{
        width: 50%;
    }
}

.Play .background .scene-result .result_frame .each span{
    font-size: 25px;
    display:flex;
    margin-left: 0;
    margin-right: 0;
}
.Play .background .scene-result .result_frame .each .orange{
    font-size: 25px;
    color: #E88326;
    display: flex;
    margin-right: auto;
    margin-left: 0;
}

.Play .background .scene-result .result_frame .divide{
    margin: 30px auto 20px;
    width: 40%;
    height: 1px;
    border-top: solid #4A4A4A 2px;
}

@media screen and (max-width: 768px) {
    .Play .background .scene-result .result_frame .divide{
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .result_frame .divide{
        width: 55%;
    }
}

.Play .background .scene-result .result_frame .total{
    font-family: "Noto Sans JP";
    margin-top: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #4A4A4A;
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

.Play .background .scene-result .result_frame .total span{
    font-size: 36px;
    margin-right: 3px;
}

.Play .background .scene-result .result_frame .total .orange{
    font-size: 30px;
    color: #E88326;
    margin-right: 10%;
}

.Play .background .scene-result .share_container {
    overflow: hidden;
    width: 70%;
    background: #FFFFFFBB;
    margin: 50px auto;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .share_container {
        width: 85%;
        margin: 20px auto;
    }
}

.Play .background .scene-result .share_container p{
    font-family: "Noto Sans JP";
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    font-weight: 700;
    color: #4A4A4A;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.Play .background .scene-result .share_container p img{
    margin-right: 5px;
}

.Play .background .scene-result .share_container p span{
    color: #1DA1F2;
    font-size: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .share_container p{
        font-family: "Noto Sans JP";
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        color: #4A4A4A;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .Play .background .scene-result .share_container p img{
        width: 22px;
    }

    .Play .background .scene-result .share_container p span{
        font-size: 22px;
    }
}

.Play .background .scene-result .share_container .share_ul{
    list-style: none;
    display: flex;
    margin: 60px 10% 30px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .share_container .share_ul{
        margin: 20px 5% 20px;
    }
}

.Play .background .scene-result .share_container .share_ul .button{
    position: relative;
    flex: 1;
    font-family: "Noto Sans JP";
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #4A4A4A;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    margin-right: 10%;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .share_container .share_ul .button{
        line-height: 35px;
        height: 35px;
        font-size: 14px;
        font-weight: 400;
        color: white;
        background: #4A4A4A;
        text-align: center;
        justify-content: center;
        border-radius: 7px;
        margin-right: 5%;
        cursor: pointer;
    }
}

.Play .background .scene-result .share_container .share_ul .button:last-child{
    margin-right: 0;
}

.Play .background .scene-result .button_ul{
    list-style: none;
    display: flex;
    width: 80%;
    margin: 30px 10% 20px;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .button_ul{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.Play .background .scene-result .button_ul .button{
    position: relative;
    flex: 1;
    font-family: "Noto Sans JP";
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #4A4A4A;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    margin-right: 30%;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .Play .background .scene-result .button_ul .button{
        font-size: 16px;
        margin-right: 10%;
    }
}

.Play .background .scene-result .button_ul .button:last-child{
    margin-right: 0;
}

.footer {
    background: #E88326;
    margin: 0 auto;
    height: 150px;
    width: 100%;
}

.footer_rights {
    font-size: 10px;
    margin: 70px 100px 0 0;
    padding: 0;
    float: right
}

.footer_logo {
    margin: 60px 0 0 100px;
    float: left
}

.footer_logo img {
    height: auto;
    max-width: 100%;
    width: 150px
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
        padding: 20px 0;
        height: auto
    }
    .footer_rights, .footer_logo {
        float: none;
        margin: 0 auto
    }
}
